::-webkit-scrollbar{
    width: 1px;

}
html {
    width: 100%;
    height: 100%;
}


/* .background {
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: absolute;
} */
body {
    margin: 0;
    height: 100%;
    background-color: #e493d0;
    background-image: 
        radial-gradient(closest-side, rgba(235, 105, 78 ,1),rgba(235, 105, 78, 0)),
        radial-gradient(closest-side, rgba(243, 11, 164 ,1),rgba(243, 11, 164, 0)),
        radial-gradient(closest-side, rgb(195, 179, 102),rgba(254, 234, 131, 0)),
        radial-gradient(closest-side, rgba(170, 142, 245 ,1),rgba(170, 142, 245, 0)),
        radial-gradient(closest-side, rgba(248, 192, 147 ,1),rgba(248, 192, 147, 0));
    background-size:  
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 
        110vmax 110vmax,
        90vmax 90vmax;

    background-position: 
        -80vmax -80vmax,
        60vmax -30vmax,
        10vmax 10vmax,
        -30vmax -10vmax,
        50vmax 50vmax;
    background-repeat: no-repeat;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr); 

}


header {
    grid-column: 1/-1;
    grid-row: 1/3;
    /* border: 3px solid  rgb(89, 89, 89); */
}
aside {
    grid-column: 1/8;
    grid-row: 3/-1;
    /* border: 3px solid rgb(89, 89, 89); */
    display: flex;
    flex-direction: column;
    padding: 3%;
    row-gap: 3%;
    

}
.chat {
    grid-column: 8/-1;
    grid-row: 3/-1;
    /* border: 3px solid rgb(89, 89, 89); */
    display: flex;
    flex-direction: column;
    
    grid-template-rows: 90% 10%;
    padding: 3%;
}
#chatbox {
    border-radius: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    z-index: 1;
    border: 2px inset rgba(86, 86, 86, 0.1);
    overflow-y: auto;
    
    position: relative;
    padding: 3%;
    /* box-shadow:inset 0 20px 10px -10px rgba(0, 0, 0, 0.5), inset 0 -20px 10px -10px rgba(0, 0, 0, 0.5); */
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    
}

.chat_user_style {
    align-self: flex-end;
    background-color: rgba(255, 225, 225, 0.5);
    border-radius: 5px;
    height: auto;
    max-width: 60%;
    padding: 8px;
    padding-left: 10px;
    margin-bottom: 10px;
    white-space: pre-wrap;
    
  }

.chat_GPT_style {
    align-self: flex-start;
    background-color: rgba(216, 216, 216, 0.5);
    border-radius: 5px;
    height: auto;
    max-width: 60%;
    padding: 8px;
    padding-left: 10px;
    margin-bottom: 10px;
    white-space: pre-wrap;
    
  }
.inputbox {
    flex-grow: 0;
    flex-shrink: 0;
    height: 70px;
    display: grid;
    grid-template-columns: auto 70px;
    column-gap: 1%;
    padding: 1%;
    border-radius: 5px;
    
    border: 3px inset rgba(89, 89, 89, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    
}
#input {
    border-radius: 5px;
    grid-column: 1/2;
    outline-style: none;
    font-size: x-large;
    border: 3px inset rgba(89, 89, 89, 0.0);
    background-color: rgba(216, 216, 216, 0.0);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#enter {
    grid-column: 2/3;
    border-radius: 5px;
    margin-right: 0px;
    background-color: rgba(120, 255, 79, 0.8);
    border: 3px inset rgba(89, 89, 89, 0.0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.userprofile{
    align-self: center;
    border-radius: 15px;
    width: 100%;
    height: 100px;
    background-color: rgba(216, 216, 216, 0.5);
    justify-items: center;
    border: 3px inset rgba(89, 89, 89, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    
    display: grid;
    
}

.modlesetting{
    align-self: center;
    border-radius: 15px;
    width: 100%;
    height: 500px;
    background-color: rgba(216, 216, 216, 0.5);
    justify-items: center;
    border: 3px inset rgba(89, 89, 89, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: grid;
    
}



/* @media (max-width: 720px) {
    html {
        width: 100%;
        height: 200%;
        
    }
    body {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(30, 1fr);
        grid-template-rows: repeat(30, 1fr);
        
        
    }
    header {
        grid-column: 1/-1;
        grid-row: 1/3;
        background-color: blue;
    }
    aside {
        grid-column: 1/8;
        grid-row: 3/-1;
        background-color: aquamarine;
    }
    #chat {
        grid-column: 8/-1;
        grid-row: 3/-1;
        background-color: blueviolet;
    }
} */